In [1]:
import pandas
import numpy
#IXL

In [7]:
#import data
data = pandas.read_csv("data.csv")

In [8]:
data

,Seniority Level,Position,Is Job Related to Innovation,Department,Industry,Employee,Country,Tenure
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle Management,NaN,I support innovation projects,NaN,Other,From 10 to 49,United States of America,Less than 1 year
3,Junior Management,Gestor de proyecto,I lead innovation projects,Quality or Process Excellence,NaN,NaN,NaN,More than 5 years
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1750,Senior Management,Senior Director of Innovation,I lead an innovation department,Research & Development (R&D),IT & Telecommunications,From 50 to 249,Israel,More than 5 years
1751,Senior Management,CCO,I lead an innovation department,Corporate or Executive Management,Finance & Insurance,From 1 to 9,United States of America,Less than 1 year
1752,Junior Management,student,I support innovation projects,Project or Program Management,IT & Telecommunications,From 50 to 249,United States of America,1 to 3 years
1753,Junior Management,Manager Systems & Functions,I support innovation projects,Research & Development (R&D),Automotive,250,China,More than 5 years
1754,Middle Management,Jefe del Sistema Integrado de Gestión,I support innovation projects,Research & Development (R&D),Engineering & Manufacturing,NaN,Colombia,3 to 5 years

In [10]:
#Remove NA where all data is missing
data.dropna(axis='rows',how='all')

,Seniority Level,Position,Is Job Related to Innovation,Department,Industry,Employee,Country,Tenure
2,Middle Management,NaN,I support innovation projects,NaN,Other,From 10 to 49,United States of America,Less than 1 year
3,Junior Management,Gestor de proyecto,I lead innovation projects,Quality or Process Excellence,NaN,NaN,NaN,More than 5 years
6,NaN,NaN,NaN,"Procurement, Supply Chain & Logistics",NaN,NaN,NaN,1 to 3 years
8,Senior Management,"Founder, Chief Executive Officer and Research ...",I lead innovation projects,Research & Development (R&D),Agriculture,From 1 to 9,South Africa,1 to 3 years
9,NaN,Research Coordinator/Data Analyst,I support innovation projects,Corporate or Executive Management,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1750,Senior Management,Senior Director of Innovation,I lead an innovation department,Research & Development (R&D),IT & Telecommunications,From 50 to 249,Israel,More than 5 years
1751,Senior Management,CCO,I lead an innovation department,Corporate or Executive Management,Finance & Insurance,From 1 to 9,United States of America,Less than 1 year
1752,Junior Management,student,I support innovation projects,Project or Program Management,IT & Telecommunications,From 50 to 249,United States of America,1 to 3 years
1753,Junior Management,Manager Systems & Functions,I support innovation projects,Research & Development (R&D),Automotive,250,China,More than 5 years
1754,Middle Management,Jefe del Sistema Integrado de Gestión,I support innovation projects,Research & Development (R&D),Engineering & Manufacturing,NaN,Colombia,3 to 5 years

In [59]:
data.fillna('(en blanco)', inplace=True)

In [60]:
#Get all the possible classes
seniority = data['Seniority Level'].value_counts(dropna=False)
position = data['Position'].value_counts(dropna=False)
related = data['Is Job Related to Innovation'].value_counts(dropna=False)
department = data['Department'].value_counts(dropna=False)
industry = data['Industry'].value_counts(dropna=False)
employee = data['Employee'].value_counts(dropna=False)
country = data['Country'].value_counts(dropna=False)
ternure = data['Tenure'].value_counts(dropna=False)

In [61]:
seniority

Seniority Level
(en blanco)          1223
Middle Management     205
Senior Management     181
Junior Management     146
Name: count, dtype: int64

In [62]:
dfseniority = pandas.DataFrame(seniority)
dfposition = pandas.DataFrame(position)
dfrelated = pandas.DataFrame(related)
dfdepartment = pandas.DataFrame(department)
dfindustry = pandas.DataFrame(industry)
dfemployee = pandas.DataFrame(employee)
dfcountry = pandas.DataFrame(country)
dfternure = pandas.DataFrame(ternure)

In [63]:
#Convert to csv
dfseniority.to_csv('dfseniority.csv')
dfposition.to_csv('dfposition.csv')
dfrelated.to_csv('dfrelated.csv')
dfdepartment.to_csv('dfdepartment.csv')
dfindustry.to_csv('dfindustry.csv')
dfemployee.to_csv('dfemployee.csv')
dfcountry.to_csv('dfcountry.csv') 
dfternure.to_csv('dfternure.csv')